<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>

		<form action="/noticias/salvar" method="post">
			<input type="text" id="titulo" name="titulo" placeholder="Titulo"><br />
			<textarea id="noticia" name="noticia" rows="4" cols="30"></textarea><br />
			<input type="submit" value="Enviar">
		</form>
		
	</body>
</html>